@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);

// font-family: 'Arimo', 'Yellowtail', 'Bree Serif' 'Crete Round', 'Lora', sans-serif;

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

section.feature {
  background: url(../img/cloud5.jpg) no-repeat center center;
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .hero {
    text-align: center;
    color: #51616e;
    line-height: 5em;
  }
  .korean {
    font-family: 'Jeju Hallasan', sans-serif;
    font-size: 5em;
  }
  .english {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 5em;
  }
  .date {
    font-size: 1.75em;
    font-weight: bold;
  }
}

section.toheaven {
  height: 70em;

  display: flex;
  justify-content: center;
  align-items: center;

  .sidebyside {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .sideimage{
      width: 120em;
      height: 50em;
      background: url(../img/52.jpg) no-repeat center center;
      background-size: cover;
    }
    .description {
      display: flex;
      justify-content: center;
      .annotation {
        width: 50%;
        margin-left: 10em;
        font-family: 'Open Sans', serif;
        .tagline {
          font-size: 2em;
          margin-bottom: .5em;
        }
        .versetext {
          font-size: 1.2em;
          line-height: 1.8em;
        }
        .verse {
          float: right;
          margin-top:.5em;
        }
      }
    }
  }
}

@media only screen and (min-width:768px) and (max-width: 1330px)  {
  section.toheaven {
    height: 50em;
    .sidebyside {
      width: 100%;
      .sideimage{
        width: 80em;
        height: 40em;
        background: url(../img/52.jpg) no-repeat center center;
        background-size: cover;
      }
    }
  }
}
// mobile
@media only screen and (max-width: 768px){
  section.toheaven {
    padding: 0em;
  }
  section.toheaven {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .sidebyside {
      width: 100vw;
      margin: 0 auto;
      display: block;
      flex-direction: column;
      .sideimage{
        height: 30em;
        width: 100vw;
        background: url(../img/52.jpg) no-repeat center center;
        background-position-y: 25%;
      }
      .description {
        padding: 1em;
        .annotation {
          width: 100vw;
          margin-left: 0em;
        }
      }
    }
  }
}
