@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);

// font-family: 'Arimo', 'Yellowtail', 'Bree Serif' 'Crete Round', 'Lora', sans-serif;

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* mixins */

.versetext {
  font-size: 1.2em;
  line-height: 1.8em;
  font-family: 'Open Sans', serif;
}
.verse {
  float: right;
  margin-top:.5em;
}

section.feature {
  background: url(../img/cloud5.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .hero {
    text-align: center;
    color: #51616e;
    line-height: 5em;
  }
  .korean {
    font-family: 'Jeju Hallasan', sans-serif;
    font-size: 5em;
  }
  .english {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 5em;
  }
  .date {
    font-size: 1.75em;
    font-weight: bold;
  }
}

section.toheaven {
  height: 70em;

  display: flex;
  justify-content: center;
  align-items: center;

  .sidebyside {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .sideimage{
      width: 120em;
      height: 50em;
      background: url(../img/52.jpg) no-repeat center center;
      background-size: cover;
    }
    .description {
      display: flex;
      justify-content: center;
      .annotation {
        .tagline {
          font-size: 2em;
          margin-bottom: .5em;
        }
        width: 55%;
        margin-left: 10em;
        font-family: 'Open Sans', serif;
      }
    }
  }
}

section.growingup {
  background: #ededed;
  background-size: cover;
  height: 130em;
  .layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    .parallax {
      .tagline {
        font-size: 1.5em;
        margin-bottom: .5em;
      }
      z-index: 100;
      width: 780px;
      font-size: 1.5em;
      background-color: #f4f4f4;
      box-shadow: 0 0 1.2em #c5c5c5;
      font-family: 'Open Sans', serif;
      padding: 2em;
      border: 1em solid #fff;
      text-align: center;
    }
  }
  .floatingVerse {
    position: absolute;
    width: 40em;
    right: 5em;
    top: 100em;
    padding: 2em;
    background-color: #fff;
  }
  .oldpics {
    position: absolute;
    background-color: white;
    padding: 2em;
    box-shadow: 0 0 1.2em #c5c5c5;
    &.pic1 {
      right: 17%;
//      transform: translateX(30%);
      top: 90em;
      height: 40em;
    }
    &.pic2 {
      left: 12%;
      top: 90em;
      height: 40em;
    }
    &.pic4 {
      right: 2%;
      top: 20em;
      height: 60em;
    }
    &.pic5 {
      left: 15%;
      top: 10em;
      height: 30em;
    }
    &.pic6 {
      left: 5%;
      top: 55em;
      height: 30em;
    }
  }
}
section.verseBreak {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  height: 30em;
  color: #fff;
  background-color: #a179a9;
  font-size: 1.2em;
  line-height: 1.8em;
}

section.america {
  height: 150em;
  display: flex;
  justify-content: center;
  align-items: center;
  .layout {
    position: relative;
    width: 1280px;
    .part1 {
      position: absolute;
      top: -35em;
      left: 0em;
      width: 32%;
      font-size: 1.2em;
      line-height: 1.8em;
      font-family: 'Open Sans', serif;
      .tagline {
        font-size: 2em;
        margin-bottom: .5em;
      }
    }
    .part2 {
      position: absolute;
      top: 3em;
      left: 57em;
      width: 26%;
      font-size: 1.2em;
      line-height: 1.8em;
      font-family: 'Open Sans', serif;
      .tagline {
        font-size: 2em;
        margin-bottom: .5em;
      }
    }
    .pics {
      position: absolute;
      box-shadow: 0 0 10em #969696;
      &.pic0 {
        height: 50em;
        top: -66em;
        left: 38.55em;
      }
      &.pic1 {
        top: -40em;
        left: 56em;
        height: 30em;
      }
      &.pic2 {
        top: -16em;
        left: 5em;
        height: 40em;
      }
      &.pic3 {
        top: 24em;
        left: 22.2em;
        height: 40em;
      }
    }
  }
}
.test {
  position: fixed;
  top:0;
  background-color: black;
  color: white;
  padding: 1em;
  z-index: 1;
}

section.passing {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .remarks {
    display: flex;
    .obi {
      margin-right: 3em;
      .side-image {
        height: 20em;
      }
    }
  }
  .excerpt {
    width: 640px;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    padding: 2em .5em;
    font-size: 1.2em;
    line-height: 1.8em;
  }
}
section.bible {
  display: flex;
  flex-wrap: wrap;
  div {
    margin: 2em;
    font-size: 1.5em;
    width: 20em;
    padding: 1em;
    background-color: #ededed;
  }
}
section.imageView {
  height: 45em;
  color: #333;
  background-color: #f5f5f5;
  overflow: hidden;
  .wrap {
    width: 1330px;
    margin: 0 auto;
  }
  .box {
    display: inline;
    overflow: hidden;
    width:50%;
    float: left;

    .bigimage {
      padding: 1em;
      height: 45em;
    }
    .pics {
      display: block;
      float: left;
      width: 70%;
      height: 45em;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      .pic {
        height: 50%;
        overflow: hidden;
        .image{
          width: 100%;
          padding: 1em;
        }
      }
    }
    .text{
      float: left;
      padding: 1em;
    }
  }
}
section.heart {
  background-color: black;
  color: white;
  height: 150em;
  .list {
    .pics{
      height: 20em;
    }
  }
  $sliderWidth: 39em;
  $sliderHeight: 30em;
  .imageSlider {
    width: $sliderWidth;
    height: $sliderHeight;
    overflow: hidden;
    position: relative;
    margin-bottom: 2em;
    .slider {
      position: absolute;
      transition: 1s all ease;
      &.current {
        transform: translateX(0);
      }
      &.temp {
        transform: translateX($sliderWidth);
      }
      img {
        height: $sliderHeight;
      }
    }
    &.transition .slider{
      &.current {
        transform: translateX(-$sliderWidth);
      }
      &.temp {
        transform: translateX(0);
      }
    }
  }
}
@media only screen and (min-width:768px) and (max-width: 1330px)  {
  section.toheaven {
    height: 50em;
    .sidebyside {
      width: 100%;
      .sideimage{
        width: 80em;
        height: 40em;
        background: url(../img/52.jpg) no-repeat center center;
        background-size: cover;
      }
    }
  }
}
// mobile
@media only screen and (max-width: 768px){
  section.toheaven {
    padding: 0em;
  }
  section.toheaven {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .sidebyside {
      width: 100vw;
      margin: 0 auto;
      display: block;
      flex-direction: column;
      .sideimage{
        height: 30em;
        width: 100vw;
        background: url(../img/52.jpg) no-repeat center center;
        background-position-y: 25%;
      }
      .description {
        padding: 1em;
        .annotation {
          width: 100vw;
          margin-left: 0em;
        }
      }
    }
  }
  section.growingup {
    height: 200em;
    .layout {
      position: relative;
      flex-direction: column-reverse;
      .parallax {
        z-index: 100;
        width: 100%;
        font-size: 1.2em;
        line-height: 2em;
        padding: 1em;
        text-align: center;
      }
    }
    .floatingVerse {
      position: relative;
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
      background: #3c3c3c;
      color: white;
    }
    .oldpics {
      position: relative;
      width: 100%;
      height: auto;
      &.pic1 {
        left: 0;
        top: 0;
        height: auto;
        width: 100%;
        transform: none;
      }
      &.pic2 {
        left: 15%;
        top: 0;
        height: auto;
        width: 100%;
        transform: none;
      }
      &.pic3 {
        left: 0;
        top: 0;
        height: auto;
        width: 100%;
        transform: none;
      }
      &.pic4 {
        left: 0;
        top: 0;
        height: auto;
        width: 100%;
        transform: none;
      }
      &.pic5 {
        left: 0;
        top: 0;
        height: auto;
        width: 100%;
        transform: none;
      }
      &.pic6 {
        left: 0;
        top: 0;
        height: auto;
        width: 100%;
        transform: none;
      }
    }
  }
}
