@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);

// font-family: 'Arimo', 'Yellowtail', 'Bree Serif' 'Crete Round', 'Lora', sans-serif;

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* mixins */

.versetext {
  font-size: 1.2em;
  line-height: 1.8em;
}
.verse {
  float: right;
  margin-top:.5em;
}

section.feature {
  background: url(../img/cloud5.jpg) no-repeat center center;
  background-size: cover;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .hero {
    text-align: center;
    color: #51616e;
    line-height: 5em;
  }
  .korean {
    font-family: 'Jeju Hallasan', sans-serif;
    font-size: 5em;
  }
  .english {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 5em;
  }
  .date {
    font-size: 1.75em;
    font-weight: bold;
  }
}

section.toheaven {
  height: 70em;

  display: flex;
  justify-content: center;
  align-items: center;

  .sidebyside {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .sideimage{
      width: 120em;
      height: 50em;
      background: url(../img/52.jpg) no-repeat center center;
      background-size: cover;
    }
    .description {
      display: flex;
      justify-content: center;
      .annotation {
        width: 55%;
        margin-left: 10em;
        font-family: 'Open Sans', serif;
        .tagline {
          font-size: 2em;
          margin-bottom: .5em;
        }
      }
    }
  }
}

section.growingup {
  background: #ededed;
  background-size: cover;
  height: 130em;
  .layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    .parallax {
      z-index: 100;
      width: 780px;
      font-size: 1.5em;
      background-color: #f4f4f4;
      box-shadow: 0 0 1.2em #c5c5c5;
      font-family: 'Open Sans', serif;
      padding: 2em;
      border: 1em solid #fff;
      text-align: center;
    }
  }
  .floatingVerse {
    position: absolute;
    width: 40%;
    right: 5em;
    top: 100em;
    padding: 2em;
    background-color: #fff;
  }
  .oldpics {
    position: absolute;
    background-color: white;
    padding: 2em;
    box-shadow: 0 0 1.2em #c5c5c5;
    &.pic1 {
      right: 1em;
      transform: translateX(-30%);
      top: 100em;
      height: 40em;
    }
    &.pic2 {
      left: 5%;
      top: 90em;
      height: 50em;
    }
    /*
    &.pic3 {
      right: 20em;
      top: 150em;
      height: 60em;
    }
    */
    &.pic4 {
      right: 25%;
      top: 20em;
      height: 60em;
    }
    &.pic5 {
      left: 10%;
      top: 10em;
      height: 30em;
    }
    &.pic6 {
      left: 30%;
      transform: translateX(50%);
      top: 55em;
      height: 30em;
    }
  }
}
section.verseBreak {
  background-color: #efefef;
}
section.america {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.test {
  position: fixed;
  top:0;
  background-color: black;
  color: white;
  padding: 1em;
  z-index: 1;
}
section.bible {
  display: flex;
  flex-wrap: wrap;
  div {
    margin: 2em;
    font-size: 1.5em;
    width: 20em;
    padding: 1em;
    background-color: #ededed;
  }
}
@media only screen and (min-width:768px) and (max-width: 1330px)  {
  section.toheaven {
    height: 50em;
    .sidebyside {
      width: 100%;
      .sideimage{
        width: 80em;
        height: 40em;
        background: url(../img/52.jpg) no-repeat center center;
        background-size: cover;
      }
    }
  }
}
// mobile
@media only screen and (max-width: 768px){
  section.toheaven {
    padding: 0em;
  }
  section.toheaven {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .sidebyside {
      width: 100vw;
      margin: 0 auto;
      display: block;
      flex-direction: column;
      .sideimage{
        height: 30em;
        width: 100vw;
        background: url(../img/52.jpg) no-repeat center center;
        background-position-y: 25%;
      }
      .description {
        padding: 1em;
        .annotation {
          width: 100vw;
          margin-left: 0em;
        }
      }
    }
  }
  section.growingup {
    height: 200em;
    .layout {
      position: relative;
      flex-direction: column-reverse;
      .parallax {
        z-index: 100;
        width: 100%;
        font-size: 1.2em;
        line-height: 2em;
        padding: 1em;
        text-align: center;
      }
    }
    .floatingVerse {
      position: relative;
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
      background: #3c3c3c;
      color: white;
    }
    .oldpics {
      position: relative;
      width: 100%;
      height: auto;
      &.pic1 {
        left: 0;
        top: 0;
        height: auto;
        width: 100%;
        transform: none;
      }
      &.pic2 {
        left: 0;
        top: 0;
        height: auto;
        width: 100%;
        transform: none;
      }
      &.pic3 {
        left: 0;
        top: 0;
        height: auto;
        width: 100%;
        transform: none;
      }
      &.pic4 {
        left: 0;
        top: 0;
        height: auto;
        width: 100%;
        transform: none;
      }
      &.pic5 {
        left: 0;
        top: 0;
        height: auto;
        width: 100%;
        transform: none;
      }
      &.pic6 {
        left: 0;
        top: 0;
        height: auto;
        width: 100%;
        transform: none;
      }
    }
  }
}
