@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

section.feature {
  background: url(../img/cloud5.jpg) no-repeat center center;
  background-size: cover;
  height: 90vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }
  section.feature .hero {
    text-align: center;
    color: #51616e;
    line-height: 5em; }
  section.feature .korean {
    font-family: 'Jeju Hallasan', sans-serif;
    font-size: 5em; }
  section.feature .english {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 5em; }
  section.feature .date {
    font-size: 1.75em;
    font-weight: bold; }

section.toheaven {
  height: 70em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }
  section.toheaven .sidebyside {
    width: 1280px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
    section.toheaven .sidebyside .sideimage {
      width: 120em;
      height: 50em;
      background: url(../img/52.jpg) no-repeat center center;
      background-size: cover; }
    section.toheaven .sidebyside .description {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center; }
      section.toheaven .sidebyside .description .annotation {
        width: 50%;
        margin-left: 10em;
        font-family: 'Open Sans', serif; }
        section.toheaven .sidebyside .description .annotation .tagline {
          font-size: 2em;
          margin-bottom: .5em; }
        section.toheaven .sidebyside .description .annotation .versetext {
          font-size: 1.2em;
          line-height: 1.8em; }
        section.toheaven .sidebyside .description .annotation .verse {
          float: right;
          margin-top: .5em; }

@media only screen and (min-width: 768px) and (max-width: 1330px) {
  section.toheaven {
    height: 50em; }
    section.toheaven .sidebyside {
      width: 100%; }
      section.toheaven .sidebyside .sideimage {
        width: 80em;
        height: 40em;
        background: url(../img/52.jpg) no-repeat center center;
        background-size: cover; } }

@media only screen and (max-width: 768px) {
  section.toheaven {
    padding: 0em; }
  section.toheaven {
    height: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
    section.toheaven .sidebyside {
      width: 100vw;
      margin: 0 auto;
      display: block;
      -ms-flex-direction: column;
      flex-direction: column; }
      section.toheaven .sidebyside .sideimage {
        height: 30em;
        width: 100vw;
        background: url(../img/52.jpg) no-repeat center center;
        background-position-y: 25%; }
      section.toheaven .sidebyside .description {
        padding: 1em; }
        section.toheaven .sidebyside .description .annotation {
          width: 100vw;
          margin-left: 0em; } }
