@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* mixins */
.versetext {
  font-size: 1.2em;
  line-height: 1.8em; }

.verse {
  float: right;
  margin-top: .5em; }

section.feature {
  background: url(../img/cloud5.jpg) no-repeat center center;
  background-size: cover;
  height: 85vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }
  section.feature .hero {
    text-align: center;
    color: #51616e;
    line-height: 5em; }
  section.feature .korean {
    font-family: 'Jeju Hallasan', sans-serif;
    font-size: 5em; }
  section.feature .english {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 5em; }
  section.feature .date {
    font-size: 1.75em;
    font-weight: bold; }

section.toheaven {
  height: 70em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }
  section.toheaven .sidebyside {
    width: 1280px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
    section.toheaven .sidebyside .sideimage {
      width: 120em;
      height: 50em;
      background: url(../img/52.jpg) no-repeat center center;
      background-size: cover; }
    section.toheaven .sidebyside .description {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center; }
      section.toheaven .sidebyside .description .annotation {
        width: 55%;
        margin-left: 10em;
        font-family: 'Open Sans', serif; }
        section.toheaven .sidebyside .description .annotation .tagline {
          font-size: 2em;
          margin-bottom: .5em; }

section.growingup {
  background: #ededed;
  background-size: cover;
  height: 130em; }
  section.growingup .layout {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    position: relative; }
    section.growingup .layout .parallax {
      z-index: 100;
      width: 780px;
      font-size: 1.5em;
      background-color: #f4f4f4;
      box-shadow: 0 0 1.2em #c5c5c5;
      font-family: 'Open Sans', serif;
      padding: 2em;
      border: 1em solid #fff;
      text-align: center; }
  section.growingup .floatingVerse {
    position: absolute;
    width: 40%;
    right: 5em;
    top: 100em;
    padding: 2em;
    background-color: #fff; }
  section.growingup .oldpics {
    position: absolute;
    background-color: white;
    padding: 2em;
    box-shadow: 0 0 1.2em #c5c5c5;
    /*
    &.pic3 {
      right: 20em;
      top: 150em;
      height: 60em;
    }
    */ }
    section.growingup .oldpics.pic1 {
      right: 1em;
      transform: translateX(-30%);
      top: 100em;
      height: 40em; }
    section.growingup .oldpics.pic2 {
      left: 5%;
      top: 90em;
      height: 50em; }
    section.growingup .oldpics.pic4 {
      right: 25%;
      top: 20em;
      height: 60em; }
    section.growingup .oldpics.pic5 {
      left: 10%;
      top: 10em;
      height: 30em; }
    section.growingup .oldpics.pic6 {
      left: 30%;
      transform: translateX(50%);
      top: 55em;
      height: 30em; }

section.verseBreak {
  background-color: #efefef; }

section.america {
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }

.test {
  position: fixed;
  top: 0;
  background-color: black;
  color: white;
  padding: 1em;
  z-index: 1; }

section.bible {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  section.bible div {
    margin: 2em;
    font-size: 1.5em;
    width: 20em;
    padding: 1em;
    background-color: #ededed; }

@media only screen and (min-width: 768px) and (max-width: 1330px) {
  section.toheaven {
    height: 50em; }
    section.toheaven .sidebyside {
      width: 100%; }
      section.toheaven .sidebyside .sideimage {
        width: 80em;
        height: 40em;
        background: url(../img/52.jpg) no-repeat center center;
        background-size: cover; } }

@media only screen and (max-width: 768px) {
  section.toheaven {
    padding: 0em; }
  section.toheaven {
    height: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
    section.toheaven .sidebyside {
      width: 100vw;
      margin: 0 auto;
      display: block;
      -ms-flex-direction: column;
      flex-direction: column; }
      section.toheaven .sidebyside .sideimage {
        height: 30em;
        width: 100vw;
        background: url(../img/52.jpg) no-repeat center center;
        background-position-y: 25%; }
      section.toheaven .sidebyside .description {
        padding: 1em; }
        section.toheaven .sidebyside .description .annotation {
          width: 100vw;
          margin-left: 0em; }
  section.growingup {
    height: 200em; }
    section.growingup .layout {
      position: relative;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
      section.growingup .layout .parallax {
        z-index: 100;
        width: 100%;
        font-size: 1.2em;
        line-height: 2em;
        padding: 1em;
        text-align: center; }
    section.growingup .floatingVerse {
      position: relative;
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
      background: #3c3c3c;
      color: white; }
    section.growingup .oldpics {
      position: relative;
      width: 100%;
      height: auto; }
      section.growingup .oldpics.pic1 {
        left: 0;
        top: 0;
        height: auto;
        width: 100%;
        transform: none; }
      section.growingup .oldpics.pic2 {
        left: 0;
        top: 0;
        height: auto;
        width: 100%;
        transform: none; }
      section.growingup .oldpics.pic3 {
        left: 0;
        top: 0;
        height: auto;
        width: 100%;
        transform: none; }
      section.growingup .oldpics.pic4 {
        left: 0;
        top: 0;
        height: auto;
        width: 100%;
        transform: none; }
      section.growingup .oldpics.pic5 {
        left: 0;
        top: 0;
        height: auto;
        width: 100%;
        transform: none; }
      section.growingup .oldpics.pic6 {
        left: 0;
        top: 0;
        height: auto;
        width: 100%;
        transform: none; } }
